body {
    
}

.mainHeadings{
    text-align:center;
    font-family: 'News Cycle', sans-serif;
}

.ArticleList{
    list-style:none;
    text-align:center;
    
}

.years{
    text-align:center;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.carousel-inner > .item > img{
       width:1200px;
       height:500px;
     }

